body{

    background-color: #556168;
    color: gainsboro;

}

#sidenav{
    background-color: #303E47;
    height: 85vmax;
    border-right: 10px solid #CFB53B;
    padding: 5px;
    /* position: fixed; */
    /* display:none; */

}

#topbar{
    background-color: #303E47;
    border-bottom: 5px solid #CFB53B;
    display:none;
}

a.nav-link{
    color: #CFB53B;
    padding-top: 30px;
    padding-bottom: 30px;
}

a.nav-link.active{
color: #d40000;
}

a.nav-link:hover{
    color: #d40000;
    }

article{
    height: 100vmin;
}

#aboutme{
    background-color: #303E47;
    padding: 50px;
}

.card{
    background-color: #303E47;
    border: 1px solid #303E47;
}

.btn{
    background-color: #CFB53B;
    border: 2px solid #CFB53B;
}

